In [3]:
#1.write a program to covert a string to lower case
x="KATYAYANI"
x.lower()

'katyayani'

In [4]:
x="PYTHON"
x.lower()

'python'

In [59]:
#2.to convert only odd indexed characters to lower case
x="PYTHON"
x[0]+x[1].lower()+x[2]+x[3].lower()+x[4]+x[5].lower()

'PyThOn'

In [60]:
#3.to covert even indexed characters to lower case
x="PYTHON"
x[0].lower()+x[1]+x[2].lower()+x[3]+x[4].lower()+x[5]

'pYtHoN'

In [64]:
#4.to convert only odd indexed characters to upper case
x="python"
x[0]+x[1].upper()+x[2]+x[3].upper()+x[4]+x[5].upper()

'pYtHoN'

In [63]:
#5.to convert only even indexed characters to upper
x="python"
x[0].upper()+x[1]+x[2].upper()+x[3]+x[4].upper()+x[5]

'PyThOn'

In [41]:
#6.python program where you have different variable with our bio data
name="kat"
age="21"
sex="female"
phonenumber="123456789"
fathername="yegaiah"
mothername="nagamani"

In [45]:
"my name is {}, my age is {}, my sex is {}, my phone number {}, my father name is {}, my mother name is {}".format(name,age,sex,phonenumber,fathername,mothername)

'my name is kat, my age is 21, my sex is female, my phone number 123456789, my father name is yegaiah, my mother name is nagamani'

In [48]:
#7.python program to count how many times "@" occured
n="kat@@@@@####"
n.count("@")

5

In [50]:
n="@g@g@j@k#k@#b#m@"
n.count("@")

6

In [51]:
n.count("#")

3

In [99]:
#8.python program to get only names from the string
n="name1.@gmail.com,name2.@gmai.com,name3.@gmail.com"
n[0:5],n[17:22],n[33:38]

('name1', 'name2', 'name3')

In [65]:
#9.string of odd length greater than 9,return a new string made of the middle three characters
x="mynameissan"
x[4:7]

'mei'

In [81]:
#10.python program to insert a 2 strings in the middle of one string
m="myn"
n="sa"
m[0:1]+n+m[1:4]

'msayn'

In [96]:
#11.to remove vowels from the entire string
n="abcdefghijklmnopqrstuvwxyz"
n.replace("a","").replace("e","").replace("i","").replace("o","").replace("u","")

'bcdfghjklmnpqrstvwxyz'